<!-- Include hyperlinks for places where Joel performs-->
<h1>Want to see Joel perform?</h1>
<Br />
<ul>
    <li><a href="https://www.qwcomedy.com/">Come to Quick Wits Comedy!</a></li>
    <li><a href="https://baconsale.com/">See Joel in Baconsale!</a></li>
</ul>
<a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" height="200" width="200"alt="Bacon Sale Image"/></a>
<br />
