@{
    ViewData["Title"] = "Home Page";
}
<!-- home page with navigation bar -->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>We love Joel, and Joel loves movies.</p>


</div>
<p>
    Joel Hilton. Comedian. Performer. Brother of Professor Hilton.
</p>
<img src="~/img/JoelHiltonHeadshot.jpg" height="400" width="600" alt="Joel, what a man." />
<div>
    <a asp-controller="Home" asp-action="GetToKnowJoel">Get to Know Joel</a>
</div>
<a asp-controller="Home" asp-action="NewMovieForm">Submit a New Movie</a>
<div>
    <a asp-controller="Home" asp-action="MovieSubmissions">View Movie Submissions</a>
</div>
