@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>We love Joel, and Joel loves movies.</p>


</div>
<div>
    <a asp-controller="Home" asp-action="GetToKnowJoel">Get to Know Joel</a>
</div>
<a asp-controller="Home" asp-action="NewMovieForm">Submit a New Movie</a>
